@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resets the styling incorrectly applied to the wrapper for the text-input. */
app-text-input {
  @apply border-none !p-0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
