<ul class="text-sm flex flex-col gap-2">
  <li
    class="text-green-600 flex items-center gap-2"
    [class.text-orange-500]="!hasMinCharacters"
  >
    <mat-icon
      [fontIcon]="hasMinCharacters ? 'check' : 'report-problem'"
      class="flex-none"
    />
    Password should be at least 8 characters long.
  </li>
  <li
    class="text-green-600 flex gap-2"
    [class.text-orange-500]="!hasLetterCasing"
  >
    <mat-icon
      [fontIcon]="hasLetterCasing ? 'check' : 'report-problem'"
      class="flex-none"
    />
    Password should contain at least one uppercase and lowercase letter.
  </li>
  <li
    class="text-green-600 flex items-center gap-2"
    [class.text-orange-500]="!hasNoFirstOrLastName"
  >
    <mat-icon
      class="flex-none"
      [fontIcon]="hasNoFirstOrLastName ? 'check' : 'report-problem'"
    />
    Password should not contain your first or last name.
  </li>
</ul>
